[submodule "Game2/vendor/spdlog"]
	path = Game2/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Game2/vendor/imgui"]
	path = Game2/vendor/imgui
	url = https://github.com/ocornut/imgui/
